* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Helvetica Neue";
}

li {
  list-style-type: none;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: #ffffff;
  cursor: pointer;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  word-wrap: break-word;
}

.Layout {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
  .Layout {
    margin: 0 10px;
  }
}

.nav-div {
  margin-top: 1.179rem;
}

.nav-menu {
  margin-top: 0.958rem;
}

.navbar-button-contact {
  border: 1px solid #ffffff;
  background: none;
  width: 8.688rem;
  height: 2.625rem;
  color: #ffffff;
  font-size: 0.938rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 1.563rem;
  cursor: pointer;
}

.color-yellow {
  color: yellow;
}

.page-div {
  max-width: 1440px;
  margin: 10.125rem auto 0;
}

.page-div h1 {
  font-size: 5.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2.2px;
}

.page-title {
  min-width: 38.25rem;
}

.page-subheader {
  min-width: 35.5rem;
}

.page-div p {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  margin: 1.438rem 2.5rem 10.688rem;
  min-width: 22.5rem;
  min-height: 14.188rem;
}

.page-header {
  color: #ffffff;
  display: flex;
}

@media only screen and (max-width: 1440px) {
  .page-header {
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .page-div {
    margin-top: 4rem;
  }
  .page-header {
    flex-direction: column;
  }

  .page-title {
    min-width: 0;
  }

  .page-div p {
    min-width: 0;
    min-height: 0;
    margin-left: 10px;
  }
}

.page-cta {
  background: #ffffff;
  max-width: 90em;
  height: 11.188rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.page-cta h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.63px;
  color: #000000;
}

.page-cta span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.63px;
}

.page-cta button {
  border: 0;
  background: 0;
  color: #ffc001;
  font-size: 1.6rem;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  .page-cta {
    flex-direction: column;
    height: 13.188rem;
  }

  .page-cta h3 {
    text-align: center;
    margin-top: 1rem;
  }

  .page-cta-button {
    margin-bottom: 1rem;
  }
}
